<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<nav style="text-align: right">
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %> |
    <%= link_to('Sign Up', new_user_registration_path)  %>
  <% end %>
</nav>
<h1>Welcome to the Concert Collector</h1>
<% if user_signed_in? %>
<p>Click Here to check out <%= link_to "the app", app_path %>!</p>
<% else %>
  <p>If you're a new user, please Sign Up on the right, otherwise, Login into an existing account to access the app</p>
<% end %>
